.chat-main
  .main_header
    .left-box
      %h1.group_name 
        = @group.name
      %ul.member_list 
        Member : 
        %li.member_name
          - @group.users.each do |user|
            =user.name
    = link_to  "Edit", edit_group_path(@group), class: "edit__btn" 
    
  .message_list
    = render @messages
       
  .message_form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: "input-text", placeholder: "type a message"
        =f.label :image, class: "input_image" do
          =icon("fas","image",class: 'icon')
          = f.file_field :image, class: "hidden"
      =f.submit 'Send', class: "send__btn"
    
