.side-bar
  .side_header
    .name-box
      %p.user-name 
        = current_user.name
      %ul.box-menu 
        %li.box_user_edit
          = link_to  do
            = icon('fas','edit',class: 'icon')
        %li.box_cog
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog',class: 'icon')
  .group_list
    .list-box1 techcamp
    .list-box2 まだメッセージがありません
    .list-box1 techcamp
    .list-box2 まだメッセージがありません
    